.container{
  width: 1200px;
  margin: auto;
}

.header_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.header_menue{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-transform: capitalize;
  color: #A6A6A6;
}

.header_menue:last-child {
  color: black;
}

.header_trait{
  border: 1px solid #A6BDCA;
}
.products_slider{
  height: 100%;
  font-size: 15px;
  position: relative;
}

.products_title {
  margin: 24px auto 36px 14px;
}

.swiper{
  width: 1176px;
  height: 163px;
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img{
  /* width: 58%; */
  object-fit: cover;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 0 !important; 
  margin: 0 !important;
  left: auto;
  --swiper-navigation-size: 15px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 0 !important; 
  margin: 0 !important;
  right: auto;
  --swiper-navigation-size: 15px;
}

.products_main {
  display: flex;
}

.products_filters_price_title {
  display: flex;
}



.products_filters_type_title {
  display: flex;
}