p{
  margin: 0;
}

.container{
  width: 1200px;
  margin: auto;
}

.header_flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.header_menue{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  text-transform: capitalize;
  color: #A6A6A6;
}

.header_menue:last-child {
  color: black;
}

.header_trait{
  border: 1px solid #A6BDCA;
}
.products_slider{
  height: 100%;
  font-size: 15px;
  position: relative;
  margin-bottom: 24px;
}

.products_title {
  margin: 24px auto 36px 14px;
}

.swiper{
  width: 1176px;
  height: 163px;
}
.swiper-slide{
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img{
  /* width: 58%; */
  object-fit: cover;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
  right: 0 !important; 
  margin: 0 !important;
  left: auto;
  --swiper-navigation-size: 15px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  left: 0 !important; 
  margin: 0 !important;
  right: auto;
  --swiper-navigation-size: 15px;
}

.products_main {
  display: flex;
}

.products_filters_price_title, .products_filters_type_title {
  display: flex;
  justify-content: space-between;
  padding: 20px 1px;
  align-items: center;
}

.products_filters_price_title img, .products_filters_type_title img {
  width: 10px;
  height: 5px;  
}

.products_filters_title{
  margin: 0;
}

.products_filter_price {
  border: 1px solid #A6A6A6;
  border-radius: 6px;
  padding-right: 7px;
}
.products_filter_price:hover {
  cursor: pointer;
}
.products_filter_price_select {
  border: none;
  background-color: #fff;
  margin: 2px;
  padding: 8px 8px 8px 14px;
  color: #A6A6A6;
}

option{ 
  background: #FFFFFF;
  box-shadow: 0px 8px 15px rgba(1, 130, 140, 0.12);
  border-radius: 6px;
}

select.decorated option:hover{
  background-color: #009AA6 !important;
  color: #FFFFFF !important;
} 

.products_filter_type_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #009AA6;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #009AA6;
  background-color: #009AA6;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #009AA6;
  cursor: pointer;
}

.custom-checkbox:not(:disabled):active+label::before {
  background-color: #009AA6;
  border-color: #009AA6;
}

.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #009AA6;
}

.custom-checkbox:disabled+label::before {
  background-color: #009AA6;
}

.products_filter_reset {
  width: 236px;
  padding: 16px 51px;
  background: #009AA6;
  border-radius: 6px;
  border: none;
  color: #FFFFFF;
  margin-top: 16px;
}
.products_filter_reset:hover{
  cursor: pointer;
}
.none {
  display: none;
}

.products_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  justify-content: center;
  justify-content: flex-start;
  margin-left: 67px;
}

.product_card {
  width: 256px;
}

.product_special_offer {
  text-align: center;
  margin: 0;
  background: #FFF1E6;
  border-radius: 24px;
  color:   #FF6E00;
}

.product_offer{
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin-bottom: 7px;
}

.product_special_new{
  color: #FF6E00;
  background: #FFFFFF;
  border: 1px solid #FF6E00;
  border-radius: 25.7656px;
  margin: 0;
  padding: 2px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.product_special_half{
  margin: 0;
  width: 46px;
  color: #FDFDFD;
  background: #FF6E00;
  border-radius: 25.7656px;
  padding: 3px 7px;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
}

.product_special_offer_play{
  border: 2px solid #56B4BB;
  border-radius: 50%;
  padding: 4px;
}

.product_price{
  display: flex;
  gap: 6px;
  align-items: flex-end;
  margin-bottom: 8px;
}

.product_main_price{
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  color: #1C1C1C;
}

.product_old_price{
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #A6A6A6;
  text-decoration-line: line-through;
}

.product_title{
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #1C1C1C;
}

.product_reviews{
  display: flex;
  gap: 6px;
  margin: 11px 0;
}

.product_reviews_title {
  margin-right: 7px;
}

.product_buy{
  background: #FF6E00;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  padding: 11px 100px;  
}

.product_buy:hover {
  background: #FF580E;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  
  display: none;
  
}

.modal_active {
  display: flex !important;
  
  z-index: 30;
}
.modal-dialog {
  position: relative;
  margin: auto;
  min-width: 450px;
  width: 380px;
  min-width: 200px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.modal_top{
  display: flex;
  justify-content: space-between;
}
.modal-dialog__close {
  border: none;
  background-color: white;
}
.modal-dialog__close:hover {
  cursor: pointer;
}
.modal-dialog__title {
  text-align: center;
  color:  #1C1C1C;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.main__input {
  
  height: 42px;
  border: 1px solid #A6A6A6;
  border-radius: 6px;
  font-family: Light;
  font-size: 13px;
  display: inline-block;
  padding-left: 15px;
  margin-top: 8px;
}
.private__button {
  padding: 12px 40px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: #FF6E00;
  border-radius: 6px;
  color: white;
  border: none;
}
.private__button:hover {
  cursor: pointer;
}
.order__form{
  display: flex;
  flex-direction: column;
}